:root {
  /* Font sizes */
  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-md: 1.125rem; /* 18px */
  --fs-lg: 1.5rem; /* 24px */
  --fs-xl: 2rem; /* 32px */
  --fs-2xl: 2.5rem; /* 40px */
  --fs-3xl: 3rem; /* 48px */
  --fs-4xl: 4rem; /* 64px */
}
